/*
 * Keap REST API
 * Keap REST Core Service
 *
 * The version of the OpenAPI document: 2.70.0.867851
 * Contact: api@keap.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.keap.core.sdk.client;

import com.keap.core.sdk.ApiClient;
import com.keap.core.sdk.ApiException;
import com.keap.core.sdk.ApiResponse;
import com.keap.core.sdk.Pair;

import com.keap.core.sdk.model.CreateLeadSourceRecurringExpenseRequest;
import com.keap.core.sdk.model.Error;
import com.keap.core.sdk.model.LeadSourceRecurringExpense;
import com.keap.core.sdk.model.LeadSourceRecurringExpenseUpdateRequest;
import com.keap.core.sdk.model.ListLeadSourceExpensesResponse;
import com.keap.core.sdk.model.ListLeadSourceRecurringExpensesResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

import java.util.function.Supplier;
import io.github.resilience4j.core.functions.CheckedSupplier;
import io.github.resilience4j.retry.Retry;


@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")public class LeadSourceRecurringExpensesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  private final Supplier<String> accessTokenSupplier;

  public LeadSourceRecurringExpensesApi() {
    this(new ApiClient());
  }

  public LeadSourceRecurringExpensesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();

    this.accessTokenSupplier = apiClient.getAccessTokenSupplier();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a Lead Source Recurring Expense
   * Creates a new Lead Source Recurring Expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param createLeadSourceRecurringExpenseRequest The request object to create a new lead source recurring expense (required)
   * @return LeadSourceRecurringExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceRecurringExpense createLeadSourceRecurringExpense(String leadSourceId, CreateLeadSourceRecurringExpenseRequest createLeadSourceRecurringExpenseRequest) throws ApiException {
    ApiResponse<LeadSourceRecurringExpense> localVarResponse = createLeadSourceRecurringExpenseWithHttpInfo(leadSourceId, createLeadSourceRecurringExpenseRequest);
    return localVarResponse.getData();
  }

  /**
   * Create a Lead Source Recurring Expense
   * Creates a new Lead Source Recurring Expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param createLeadSourceRecurringExpenseRequest The request object to create a new lead source recurring expense (required)
   * @return ApiResponse&lt;LeadSourceRecurringExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceRecurringExpense> createLeadSourceRecurringExpenseWithHttpInfo(String leadSourceId, CreateLeadSourceRecurringExpenseRequest createLeadSourceRecurringExpenseRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createLeadSourceRecurringExpenseRequestBuilder(leadSourceId, createLeadSourceRecurringExpenseRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createLeadSourceRecurringExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceRecurringExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceRecurringExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createLeadSourceRecurringExpenseRequestBuilder(String leadSourceId, CreateLeadSourceRecurringExpenseRequest createLeadSourceRecurringExpenseRequest) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling createLeadSourceRecurringExpense");
    }
    // verify the required parameter 'createLeadSourceRecurringExpenseRequest' is set
    if (createLeadSourceRecurringExpenseRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createLeadSourceRecurringExpenseRequest' when calling createLeadSourceRecurringExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createLeadSourceRecurringExpenseRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete a Lead Source Recurring Expense
   * Deletes a new Lead Source Recurring Expense that belongs to a Lead Source
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteLeadSourceRecurringExpense(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    deleteLeadSourceRecurringExpenseWithHttpInfo(leadSourceId, leadSourceRecurringExpenseId);
  }

  /**
   * Delete a Lead Source Recurring Expense
   * Deletes a new Lead Source Recurring Expense that belongs to a Lead Source
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteLeadSourceRecurringExpenseWithHttpInfo(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteLeadSourceRecurringExpenseRequestBuilder(leadSourceId, leadSourceRecurringExpenseId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteLeadSourceRecurringExpense", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteLeadSourceRecurringExpenseRequestBuilder(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling deleteLeadSourceRecurringExpense");
    }
    // verify the required parameter 'leadSourceRecurringExpenseId' is set
    if (leadSourceRecurringExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceRecurringExpenseId' when calling deleteLeadSourceRecurringExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses/{lead_source_recurring_expense_id}"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()))
        .replace("{lead_source_recurring_expense_id}", ApiClient.urlEncode(leadSourceRecurringExpenseId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieve a Lead Source Recurring Expense
   * Retrieves a Lead Source Recurring Expense using leadSourceId and leadSourceRecurringExpenseId
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @return LeadSourceRecurringExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceRecurringExpense getLeadSourceRecurringExpense(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    ApiResponse<LeadSourceRecurringExpense> localVarResponse = getLeadSourceRecurringExpenseWithHttpInfo(leadSourceId, leadSourceRecurringExpenseId);
    return localVarResponse.getData();
  }

  /**
   * Retrieve a Lead Source Recurring Expense
   * Retrieves a Lead Source Recurring Expense using leadSourceId and leadSourceRecurringExpenseId
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @return ApiResponse&lt;LeadSourceRecurringExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceRecurringExpense> getLeadSourceRecurringExpenseWithHttpInfo(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getLeadSourceRecurringExpenseRequestBuilder(leadSourceId, leadSourceRecurringExpenseId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getLeadSourceRecurringExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceRecurringExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceRecurringExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getLeadSourceRecurringExpenseRequestBuilder(String leadSourceId, String leadSourceRecurringExpenseId) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling getLeadSourceRecurringExpense");
    }
    // verify the required parameter 'leadSourceRecurringExpenseId' is set
    if (leadSourceRecurringExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceRecurringExpenseId' when calling getLeadSourceRecurringExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses/{lead_source_recurring_expense_id}"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()))
        .replace("{lead_source_recurring_expense_id}", ApiClient.urlEncode(leadSourceRecurringExpenseId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieves a list of expenses incurred from a recurring expense
   * Retrieves a list of expenses incurred from a recurring expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;incurred_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;incurred_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields:  - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;incurred_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ListLeadSourceExpensesResponse
   * @throws ApiException if fails to make API call
   */
  public ListLeadSourceExpensesResponse listExpensesIncurredFromLeadSourceRecurringExpense(String leadSourceId, String leadSourceRecurringExpenseId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListLeadSourceExpensesResponse> localVarResponse = listExpensesIncurredFromLeadSourceRecurringExpenseWithHttpInfo(leadSourceId, leadSourceRecurringExpenseId, filter, orderBy, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * Retrieves a list of expenses incurred from a recurring expense
   * Retrieves a list of expenses incurred from a recurring expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;incurred_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;incurred_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields:  - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;incurred_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ApiResponse&lt;ListLeadSourceExpensesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListLeadSourceExpensesResponse> listExpensesIncurredFromLeadSourceRecurringExpenseWithHttpInfo(String leadSourceId, String leadSourceRecurringExpenseId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listExpensesIncurredFromLeadSourceRecurringExpenseRequestBuilder(leadSourceId, leadSourceRecurringExpenseId, filter, orderBy, pageSize, pageToken);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listExpensesIncurredFromLeadSourceRecurringExpense", localVarResponse);
        }
        return new ApiResponse<ListLeadSourceExpensesResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ListLeadSourceExpensesResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listExpensesIncurredFromLeadSourceRecurringExpenseRequestBuilder(String leadSourceId, String leadSourceRecurringExpenseId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling listExpensesIncurredFromLeadSourceRecurringExpense");
    }
    // verify the required parameter 'leadSourceRecurringExpenseId' is set
    if (leadSourceRecurringExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceRecurringExpenseId' when calling listExpensesIncurredFromLeadSourceRecurringExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses/{lead_source_recurring_expense_id}/expenses"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()))
        .replace("{lead_source_recurring_expense_id}", ApiClient.urlEncode(leadSourceRecurringExpenseId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieves a list of lead source recurring expenses
   * Retrieves a list of recurring expenses with lead_source_id and optional &#39;filter&#39; query param
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;start_time&#x60; - (String) &#x60;end_time&#x60; - (String) &#x60;next_expense_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;next_expense_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields: - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;start_time&#x60; - &#x60;end_time&#x60; - &#x60;next_expense_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ListLeadSourceRecurringExpensesResponse
   * @throws ApiException if fails to make API call
   */
  public ListLeadSourceRecurringExpensesResponse listLeadSourceRecurringExpenses(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListLeadSourceRecurringExpensesResponse> localVarResponse = listLeadSourceRecurringExpensesWithHttpInfo(leadSourceId, filter, orderBy, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * Retrieves a list of lead source recurring expenses
   * Retrieves a list of recurring expenses with lead_source_id and optional &#39;filter&#39; query param
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;start_time&#x60; - (String) &#x60;end_time&#x60; - (String) &#x60;next_expense_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;next_expense_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields: - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;start_time&#x60; - &#x60;end_time&#x60; - &#x60;next_expense_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ApiResponse&lt;ListLeadSourceRecurringExpensesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListLeadSourceRecurringExpensesResponse> listLeadSourceRecurringExpensesWithHttpInfo(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listLeadSourceRecurringExpensesRequestBuilder(leadSourceId, filter, orderBy, pageSize, pageToken);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listLeadSourceRecurringExpenses", localVarResponse);
        }
        return new ApiResponse<ListLeadSourceRecurringExpensesResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ListLeadSourceRecurringExpensesResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listLeadSourceRecurringExpensesRequestBuilder(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling listLeadSourceRecurringExpenses");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update a Lead Source Recurring Expense
   * Updates a Lead Source Recurring Expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @param leadSourceRecurringExpenseUpdateRequest The request object to update a lead source recurring expense (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return LeadSourceRecurringExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceRecurringExpense updateLeadSourceRecurringExpense(String leadSourceId, String leadSourceRecurringExpenseId, LeadSourceRecurringExpenseUpdateRequest leadSourceRecurringExpenseUpdateRequest, List<String> updateMask) throws ApiException {
    ApiResponse<LeadSourceRecurringExpense> localVarResponse = updateLeadSourceRecurringExpenseWithHttpInfo(leadSourceId, leadSourceRecurringExpenseId, leadSourceRecurringExpenseUpdateRequest, updateMask);
    return localVarResponse.getData();
  }

  /**
   * Update a Lead Source Recurring Expense
   * Updates a Lead Source Recurring Expense
   * @param leadSourceId The ID of the lead source this recurring expense belongs to (required)
   * @param leadSourceRecurringExpenseId The ID of a lead source recurring expense (required)
   * @param leadSourceRecurringExpenseUpdateRequest The request object to update a lead source recurring expense (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return ApiResponse&lt;LeadSourceRecurringExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceRecurringExpense> updateLeadSourceRecurringExpenseWithHttpInfo(String leadSourceId, String leadSourceRecurringExpenseId, LeadSourceRecurringExpenseUpdateRequest leadSourceRecurringExpenseUpdateRequest, List<String> updateMask) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateLeadSourceRecurringExpenseRequestBuilder(leadSourceId, leadSourceRecurringExpenseId, leadSourceRecurringExpenseUpdateRequest, updateMask);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateLeadSourceRecurringExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceRecurringExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceRecurringExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateLeadSourceRecurringExpenseRequestBuilder(String leadSourceId, String leadSourceRecurringExpenseId, LeadSourceRecurringExpenseUpdateRequest leadSourceRecurringExpenseUpdateRequest, List<String> updateMask) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling updateLeadSourceRecurringExpense");
    }
    // verify the required parameter 'leadSourceRecurringExpenseId' is set
    if (leadSourceRecurringExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceRecurringExpenseId' when calling updateLeadSourceRecurringExpense");
    }
    // verify the required parameter 'leadSourceRecurringExpenseUpdateRequest' is set
    if (leadSourceRecurringExpenseUpdateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceRecurringExpenseUpdateRequest' when calling updateLeadSourceRecurringExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/recurringExpenses/{lead_source_recurring_expense_id}"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()))
        .replace("{lead_source_recurring_expense_id}", ApiClient.urlEncode(leadSourceRecurringExpenseId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "update_mask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "update_mask", updateMask));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(leadSourceRecurringExpenseUpdateRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }


}
