/*
 * Keap REST API
 * Keap REST Core Service
 *
 * The version of the OpenAPI document: 2.70.0.862454-hf-202509261459
 * Contact: api@keap.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.keap.core.sdk.client;

import com.keap.core.sdk.ApiClient;
import com.keap.core.sdk.ApiException;
import com.keap.core.sdk.ApiResponse;
import com.keap.core.sdk.Pair;

import com.keap.core.sdk.model.CreateLeadSourceExpenseRequest;
import com.keap.core.sdk.model.Error;
import com.keap.core.sdk.model.LeadSourceExpense;
import com.keap.core.sdk.model.ListLeadSourceExpensesResponse;
import com.keap.core.sdk.model.UpdateLeadSourceExpenseRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

import java.util.function.Supplier;
import io.github.resilience4j.core.functions.CheckedSupplier;
import io.github.resilience4j.retry.Retry;


@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")public class LeadSourceExpensesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  private final Supplier<String> accessTokenSupplier;

  public LeadSourceExpensesApi() {
    this(new ApiClient());
  }

  public LeadSourceExpensesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();

    this.accessTokenSupplier = apiClient.getAccessTokenSupplier();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a Lead Source Expense
   * Creates a new Lead Source Expense
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param createLeadSourceExpenseRequest The request object to create a new lead source expense (required)
   * @return LeadSourceExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceExpense createLeadSourceExpense(String leadSourceId, CreateLeadSourceExpenseRequest createLeadSourceExpenseRequest) throws ApiException {
    ApiResponse<LeadSourceExpense> localVarResponse = createLeadSourceExpenseWithHttpInfo(leadSourceId, createLeadSourceExpenseRequest);
    return localVarResponse.getData();
  }

  /**
   * Create a Lead Source Expense
   * Creates a new Lead Source Expense
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param createLeadSourceExpenseRequest The request object to create a new lead source expense (required)
   * @return ApiResponse&lt;LeadSourceExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceExpense> createLeadSourceExpenseWithHttpInfo(String leadSourceId, CreateLeadSourceExpenseRequest createLeadSourceExpenseRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createLeadSourceExpenseRequestBuilder(leadSourceId, createLeadSourceExpenseRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createLeadSourceExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createLeadSourceExpenseRequestBuilder(String leadSourceId, CreateLeadSourceExpenseRequest createLeadSourceExpenseRequest) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling createLeadSourceExpense");
    }
    // verify the required parameter 'createLeadSourceExpenseRequest' is set
    if (createLeadSourceExpenseRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createLeadSourceExpenseRequest' when calling createLeadSourceExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/expenses"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createLeadSourceExpenseRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete a lead source expense
   * Deletes a lead source expense by ID
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteLeadSourceExpense(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    deleteLeadSourceExpenseWithHttpInfo(leadSourceExpenseId, leadSourceId);
  }

  /**
   * Delete a lead source expense
   * Deletes a lead source expense by ID
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteLeadSourceExpenseWithHttpInfo(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteLeadSourceExpenseRequestBuilder(leadSourceExpenseId, leadSourceId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteLeadSourceExpense", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteLeadSourceExpenseRequestBuilder(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    // verify the required parameter 'leadSourceExpenseId' is set
    if (leadSourceExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceExpenseId' when calling deleteLeadSourceExpense");
    }
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling deleteLeadSourceExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/expenses/{lead_source_expense_id}"
        .replace("{lead_source_expense_id}", ApiClient.urlEncode(leadSourceExpenseId.toString()))
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieve a Lead Source Expense
   * Retrieves a single Lead Source Expense for a given ID
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @return LeadSourceExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceExpense getLeadSourceExpense(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    ApiResponse<LeadSourceExpense> localVarResponse = getLeadSourceExpenseWithHttpInfo(leadSourceExpenseId, leadSourceId);
    return localVarResponse.getData();
  }

  /**
   * Retrieve a Lead Source Expense
   * Retrieves a single Lead Source Expense for a given ID
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @return ApiResponse&lt;LeadSourceExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceExpense> getLeadSourceExpenseWithHttpInfo(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getLeadSourceExpenseRequestBuilder(leadSourceExpenseId, leadSourceId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getLeadSourceExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getLeadSourceExpenseRequestBuilder(String leadSourceExpenseId, String leadSourceId) throws ApiException {
    // verify the required parameter 'leadSourceExpenseId' is set
    if (leadSourceExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceExpenseId' when calling getLeadSourceExpense");
    }
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling getLeadSourceExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/expenses/{lead_source_expense_id}"
        .replace("{lead_source_expense_id}", ApiClient.urlEncode(leadSourceExpenseId.toString()))
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Lead Source Expenses
   * Retrieves a list of lead source expenses
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;incurred_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;incurred_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields:  - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;incurred_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ListLeadSourceExpensesResponse
   * @throws ApiException if fails to make API call
   */
  public ListLeadSourceExpensesResponse listLeadSourceExpenses(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListLeadSourceExpensesResponse> localVarResponse = listLeadSourceExpensesWithHttpInfo(leadSourceId, filter, orderBy, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * List Lead Source Expenses
   * Retrieves a list of lead source expenses
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param filter Filter to apply, allowed fields are:  - (String) &#x60;title&#x60; - (Long) &#x60;amount&#x60; - (String) &#x60;incurred_time&#x60; - (String) &#x60;create_time&#x60; - (String) &#x60;update_time&#x60;  You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples:  - &#x60;filter&#x3D;amount%3D%3D2500&#x60; - &#x60;filter&#x3D;incurred_time%3D%3D2024-12-22T01:00:00.000Z&#x60; (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields:  - &#x60;title&#x60; - &#x60;amount&#x60; - &#x60;incurred_time&#x60; - &#x60;create_time&#x60; - &#x60;update_time&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60; (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ApiResponse&lt;ListLeadSourceExpensesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListLeadSourceExpensesResponse> listLeadSourceExpensesWithHttpInfo(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listLeadSourceExpensesRequestBuilder(leadSourceId, filter, orderBy, pageSize, pageToken);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listLeadSourceExpenses", localVarResponse);
        }
        return new ApiResponse<ListLeadSourceExpensesResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ListLeadSourceExpensesResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listLeadSourceExpensesRequestBuilder(String leadSourceId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling listLeadSourceExpenses");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/expenses"
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update a Lead Source Expense
   * Updates a new Lead Source Expense
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param updateLeadSourceExpenseRequest The request object to update a lead source expense (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return LeadSourceExpense
   * @throws ApiException if fails to make API call
   */
  public LeadSourceExpense updateLeadSourceExpense(String leadSourceExpenseId, String leadSourceId, UpdateLeadSourceExpenseRequest updateLeadSourceExpenseRequest, List<String> updateMask) throws ApiException {
    ApiResponse<LeadSourceExpense> localVarResponse = updateLeadSourceExpenseWithHttpInfo(leadSourceExpenseId, leadSourceId, updateLeadSourceExpenseRequest, updateMask);
    return localVarResponse.getData();
  }

  /**
   * Update a Lead Source Expense
   * Updates a new Lead Source Expense
   * @param leadSourceExpenseId The ID of a lead source expense (required)
   * @param leadSourceId The ID of the lead source this expense belongs to (required)
   * @param updateLeadSourceExpenseRequest The request object to update a lead source expense (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return ApiResponse&lt;LeadSourceExpense&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LeadSourceExpense> updateLeadSourceExpenseWithHttpInfo(String leadSourceExpenseId, String leadSourceId, UpdateLeadSourceExpenseRequest updateLeadSourceExpenseRequest, List<String> updateMask) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateLeadSourceExpenseRequestBuilder(leadSourceExpenseId, leadSourceId, updateLeadSourceExpenseRequest, updateMask);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateLeadSourceExpense", localVarResponse);
        }
        return new ApiResponse<LeadSourceExpense>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LeadSourceExpense>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateLeadSourceExpenseRequestBuilder(String leadSourceExpenseId, String leadSourceId, UpdateLeadSourceExpenseRequest updateLeadSourceExpenseRequest, List<String> updateMask) throws ApiException {
    // verify the required parameter 'leadSourceExpenseId' is set
    if (leadSourceExpenseId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceExpenseId' when calling updateLeadSourceExpense");
    }
    // verify the required parameter 'leadSourceId' is set
    if (leadSourceId == null) {
      throw new ApiException(400, "Missing the required parameter 'leadSourceId' when calling updateLeadSourceExpense");
    }
    // verify the required parameter 'updateLeadSourceExpenseRequest' is set
    if (updateLeadSourceExpenseRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updateLeadSourceExpenseRequest' when calling updateLeadSourceExpense");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/leadSources/{lead_source_id}/expenses/{lead_source_expense_id}"
        .replace("{lead_source_expense_id}", ApiClient.urlEncode(leadSourceExpenseId.toString()))
        .replace("{lead_source_id}", ApiClient.urlEncode(leadSourceId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "update_mask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "update_mask", updateMask));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateLeadSourceExpenseRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }


}
