/*
 * Keap REST API
 * Keap REST Core Service
 *
 * The version of the OpenAPI document: 2.70.0.778988
 * Contact: api@keap.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.keap.core.sdk.client;

import com.keap.core.sdk.ApiClient;
import com.keap.core.sdk.ApiException;
import com.keap.core.sdk.ApiResponse;
import com.keap.core.sdk.Pair;

import com.keap.core.sdk.model.CreatePipelineRequest;
import com.keap.core.sdk.model.Pipeline;
import com.keap.core.sdk.model.PipelineListResponse;
import com.keap.core.sdk.model.PipelineOutcomeLabelListResponse;
import com.keap.core.sdk.model.PipelineStageListResponse;
import com.keap.core.sdk.model.PipelineSummariesListResponse;
import com.keap.core.sdk.model.UpdateOutcomeLabelsRequest;
import com.keap.core.sdk.model.UpdatePipelineRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

import java.util.function.Supplier;
import io.github.resilience4j.core.functions.CheckedSupplier;
import io.github.resilience4j.retry.Retry;


@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")public class PipelinesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  private final Supplier<String> accessTokenSupplier;

  public PipelinesApi() {
    this(new ApiClient());
  }

  public PipelinesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();

    this.accessTokenSupplier = apiClient.getAccessTokenSupplier();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Lists entities based on the provided ListCommand.
   * Lists entities based on the provided ListCommand.
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return PipelineListResponse
   * @throws ApiException if fails to make API call
   */
  public PipelineListResponse callList(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    ApiResponse<PipelineListResponse> localVarResponse = callListWithHttpInfo(filter, pageToken, orderBy, pageSize);
    return localVarResponse.getData();
  }

  /**
   * Lists entities based on the provided ListCommand.
   * Lists entities based on the provided ListCommand.
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return ApiResponse&lt;PipelineListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PipelineListResponse> callListWithHttpInfo(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = callListRequestBuilder(filter, pageToken, orderBy, pageSize);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("callList", localVarResponse);
        }
        return new ApiResponse<PipelineListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PipelineListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder callListRequestBuilder(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Creates a new entity.
   * Creates a new entity.
   * @param createPipelineRequest the create request (required)
   * @return Pipeline
   * @throws ApiException if fails to make API call
   */
  public Pipeline create(CreatePipelineRequest createPipelineRequest) throws ApiException {
    ApiResponse<Pipeline> localVarResponse = createWithHttpInfo(createPipelineRequest);
    return localVarResponse.getData();
  }

  /**
   * Creates a new entity.
   * Creates a new entity.
   * @param createPipelineRequest the create request (required)
   * @return ApiResponse&lt;Pipeline&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Pipeline> createWithHttpInfo(CreatePipelineRequest createPipelineRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createRequestBuilder(createPipelineRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("create", localVarResponse);
        }
        return new ApiResponse<Pipeline>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Pipeline>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createRequestBuilder(CreatePipelineRequest createPipelineRequest) throws ApiException {
    // verify the required parameter 'createPipelineRequest' is set
    if (createPipelineRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createPipelineRequest' when calling create");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createPipelineRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Deletes a pipeline.
   * Deletes a pipeline.
   * @param id the pipeline identifier (required)
   * @param allowCleanup flag indicating whether cleanup is allowed, can be null (optional)
   * @param newStageId the new stage identifier, can be null (optional)
   * @throws ApiException if fails to make API call
   */
  public void delete1(String id, Boolean allowCleanup, String newStageId) throws ApiException {
    delete1WithHttpInfo(id, allowCleanup, newStageId);
  }

  /**
   * Deletes a pipeline.
   * Deletes a pipeline.
   * @param id the pipeline identifier (required)
   * @param allowCleanup flag indicating whether cleanup is allowed, can be null (optional)
   * @param newStageId the new stage identifier, can be null (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> delete1WithHttpInfo(String id, Boolean allowCleanup, String newStageId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = delete1RequestBuilder(id, allowCleanup, newStageId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("delete1", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder delete1RequestBuilder(String id, Boolean allowCleanup, String newStageId) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling delete1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "allow_cleanup";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("allow_cleanup", allowCleanup));
    localVarQueryParameterBaseName = "new_stage_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("new_stage_id", newStageId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieves an entity by its identifier.
   * Retrieves an entity by its identifier.
   * @param id the entity identifier (required)
   * @return Pipeline
   * @throws ApiException if fails to make API call
   */
  public Pipeline get(String id) throws ApiException {
    ApiResponse<Pipeline> localVarResponse = getWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Retrieves an entity by its identifier.
   * Retrieves an entity by its identifier.
   * @param id the entity identifier (required)
   * @return ApiResponse&lt;Pipeline&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Pipeline> getWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRequestBuilder(id);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("get", localVarResponse);
        }
        return new ApiResponse<Pipeline>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Pipeline>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling get");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Gets the outcome labels for a pipeline.
   * Gets the outcome labels for a pipeline.
   * @param id the pipeline identifier (required)
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return PipelineOutcomeLabelListResponse
   * @throws ApiException if fails to make API call
   */
  public PipelineOutcomeLabelListResponse getOutcomeLabels(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    ApiResponse<PipelineOutcomeLabelListResponse> localVarResponse = getOutcomeLabelsWithHttpInfo(id, filter, pageToken, orderBy, pageSize);
    return localVarResponse.getData();
  }

  /**
   * Gets the outcome labels for a pipeline.
   * Gets the outcome labels for a pipeline.
   * @param id the pipeline identifier (required)
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return ApiResponse&lt;PipelineOutcomeLabelListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PipelineOutcomeLabelListResponse> getOutcomeLabelsWithHttpInfo(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getOutcomeLabelsRequestBuilder(id, filter, pageToken, orderBy, pageSize);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getOutcomeLabels", localVarResponse);
        }
        return new ApiResponse<PipelineOutcomeLabelListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PipelineOutcomeLabelListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getOutcomeLabelsRequestBuilder(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getOutcomeLabels");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}/outcomes"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieves a list of stages for a specific pipeline.
   * Retrieves a list of stages for a specific pipeline.
   * @param id the pipeline identifier (required)
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return PipelineStageListResponse
   * @throws ApiException if fails to make API call
   */
  public PipelineStageListResponse listStages(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    ApiResponse<PipelineStageListResponse> localVarResponse = listStagesWithHttpInfo(id, filter, pageToken, orderBy, pageSize);
    return localVarResponse.getData();
  }

  /**
   * Retrieves a list of stages for a specific pipeline.
   * Retrieves a list of stages for a specific pipeline.
   * @param id the pipeline identifier (required)
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return ApiResponse&lt;PipelineStageListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PipelineStageListResponse> listStagesWithHttpInfo(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listStagesRequestBuilder(id, filter, pageToken, orderBy, pageSize);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listStages", localVarResponse);
        }
        return new ApiResponse<PipelineStageListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PipelineStageListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listStagesRequestBuilder(String id, String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling listStages");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}/stages"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Retrieves a list of pipeline summaries.
   * Retrieves a list of pipeline summaries.
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return PipelineSummariesListResponse
   * @throws ApiException if fails to make API call
   */
  public PipelineSummariesListResponse listSummaries(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    ApiResponse<PipelineSummariesListResponse> localVarResponse = listSummariesWithHttpInfo(filter, pageToken, orderBy, pageSize);
    return localVarResponse.getData();
  }

  /**
   * Retrieves a list of pipeline summaries.
   * Retrieves a list of pipeline summaries.
   * @param filter  (optional)
   * @param pageToken  (optional)
   * @param orderBy  (optional)
   * @param pageSize  (optional, default to 1000)
   * @return ApiResponse&lt;PipelineSummariesListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PipelineSummariesListResponse> listSummariesWithHttpInfo(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSummariesRequestBuilder(filter, pageToken, orderBy, pageSize);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSummaries", localVarResponse);
        }
        return new ApiResponse<PipelineSummariesListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PipelineSummariesListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSummariesRequestBuilder(String filter, String pageToken, String orderBy, Integer pageSize) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/summaries";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Sets the outcome labels for a pipeline.
   * Sets the outcome labels for a pipeline.
   * @param id the pipeline identifier (required)
   * @param updateOutcomeLabelsRequest the request containing the new outcome labels (required)
   * @return PipelineOutcomeLabelListResponse
   * @throws ApiException if fails to make API call
   */
  public PipelineOutcomeLabelListResponse setOutcomeLabels(String id, UpdateOutcomeLabelsRequest updateOutcomeLabelsRequest) throws ApiException {
    ApiResponse<PipelineOutcomeLabelListResponse> localVarResponse = setOutcomeLabelsWithHttpInfo(id, updateOutcomeLabelsRequest);
    return localVarResponse.getData();
  }

  /**
   * Sets the outcome labels for a pipeline.
   * Sets the outcome labels for a pipeline.
   * @param id the pipeline identifier (required)
   * @param updateOutcomeLabelsRequest the request containing the new outcome labels (required)
   * @return ApiResponse&lt;PipelineOutcomeLabelListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PipelineOutcomeLabelListResponse> setOutcomeLabelsWithHttpInfo(String id, UpdateOutcomeLabelsRequest updateOutcomeLabelsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = setOutcomeLabelsRequestBuilder(id, updateOutcomeLabelsRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("setOutcomeLabels", localVarResponse);
        }
        return new ApiResponse<PipelineOutcomeLabelListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<PipelineOutcomeLabelListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder setOutcomeLabelsRequestBuilder(String id, UpdateOutcomeLabelsRequest updateOutcomeLabelsRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling setOutcomeLabels");
    }
    // verify the required parameter 'updateOutcomeLabelsRequest' is set
    if (updateOutcomeLabelsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updateOutcomeLabelsRequest' when calling setOutcomeLabels");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}/outcomes"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateOutcomeLabelsRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Updates an existing entity.
   * Updates an existing entity.
   * @param id the entity identifier (required)
   * @param updateMask the fields to update (required)
   * @param updatePipelineRequest the update request (required)
   * @return Pipeline
   * @throws ApiException if fails to make API call
   */
  public Pipeline update1(String id, List<String> updateMask, UpdatePipelineRequest updatePipelineRequest) throws ApiException {
    ApiResponse<Pipeline> localVarResponse = update1WithHttpInfo(id, updateMask, updatePipelineRequest);
    return localVarResponse.getData();
  }

  /**
   * Updates an existing entity.
   * Updates an existing entity.
   * @param id the entity identifier (required)
   * @param updateMask the fields to update (required)
   * @param updatePipelineRequest the update request (required)
   * @return ApiResponse&lt;Pipeline&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Pipeline> update1WithHttpInfo(String id, List<String> updateMask, UpdatePipelineRequest updatePipelineRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = update1RequestBuilder(id, updateMask, updatePipelineRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("update1", localVarResponse);
        }
        return new ApiResponse<Pipeline>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Pipeline>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder update1RequestBuilder(String id, List<String> updateMask, UpdatePipelineRequest updatePipelineRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling update1");
    }
    // verify the required parameter 'updateMask' is set
    if (updateMask == null) {
      throw new ApiException(400, "Missing the required parameter 'updateMask' when calling update1");
    }
    // verify the required parameter 'updatePipelineRequest' is set
    if (updatePipelineRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updatePipelineRequest' when calling update1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/pipelines/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "update_mask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "update_mask", updateMask));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updatePipelineRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }


}
