/*
 * Keap REST API
 * Keap REST Core Service
 *
 * The version of the OpenAPI document: 2.70.0.839048
 * Contact: api@keap.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.keap.core.sdk.client;

import com.keap.core.sdk.ApiClient;
import com.keap.core.sdk.ApiException;
import com.keap.core.sdk.ApiResponse;
import com.keap.core.sdk.Pair;

import com.keap.core.sdk.model.CreateSubscriptionPlanRequest;
import com.keap.core.sdk.model.Error;
import com.keap.core.sdk.model.ListSubscriptionPlansResponse;
import com.keap.core.sdk.model.SubscriptionPlan;
import com.keap.core.sdk.model.UpdateSubscriptionPlanRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

import java.util.function.Supplier;
import io.github.resilience4j.core.functions.CheckedSupplier;
import io.github.resilience4j.retry.Retry;


@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")public class SubscriptionPlansApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  private final Supplier<String> accessTokenSupplier;

  public SubscriptionPlansApi() {
    this(new ApiClient());
  }

  public SubscriptionPlansApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();

    this.accessTokenSupplier = apiClient.getAccessTokenSupplier();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create Subscription Plan
   * Creates a Subscription Plan
   * @param productId product_id (required)
   * @param createSubscriptionPlanRequest createSubscriptionPlanRequest (required)
   * @return SubscriptionPlan
   * @throws ApiException if fails to make API call
   */
  public SubscriptionPlan createSubscriptionPlans(String productId, CreateSubscriptionPlanRequest createSubscriptionPlanRequest) throws ApiException {
    ApiResponse<SubscriptionPlan> localVarResponse = createSubscriptionPlansWithHttpInfo(productId, createSubscriptionPlanRequest);
    return localVarResponse.getData();
  }

  /**
   * Create Subscription Plan
   * Creates a Subscription Plan
   * @param productId product_id (required)
   * @param createSubscriptionPlanRequest createSubscriptionPlanRequest (required)
   * @return ApiResponse&lt;SubscriptionPlan&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubscriptionPlan> createSubscriptionPlansWithHttpInfo(String productId, CreateSubscriptionPlanRequest createSubscriptionPlanRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createSubscriptionPlansRequestBuilder(productId, createSubscriptionPlanRequest);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createSubscriptionPlans", localVarResponse);
        }
        return new ApiResponse<SubscriptionPlan>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubscriptionPlan>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createSubscriptionPlansRequestBuilder(String productId, CreateSubscriptionPlanRequest createSubscriptionPlanRequest) throws ApiException {
    // verify the required parameter 'productId' is set
    if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling createSubscriptionPlans");
    }
    // verify the required parameter 'createSubscriptionPlanRequest' is set
    if (createSubscriptionPlanRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createSubscriptionPlanRequest' when calling createSubscriptionPlans");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/products/{product_id}/subscriptions"
        .replace("{product_id}", ApiClient.urlEncode(productId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createSubscriptionPlanRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Subscription Plan
   * Deletes a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteSubscriptionPlan(String productId, String subscriptionPlanId) throws ApiException {
    deleteSubscriptionPlanWithHttpInfo(productId, subscriptionPlanId);
  }

  /**
   * Delete Subscription Plan
   * Deletes a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteSubscriptionPlanWithHttpInfo(String productId, String subscriptionPlanId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteSubscriptionPlanRequestBuilder(productId, subscriptionPlanId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteSubscriptionPlan", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteSubscriptionPlanRequestBuilder(String productId, String subscriptionPlanId) throws ApiException {
    // verify the required parameter 'productId' is set
    if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling deleteSubscriptionPlan");
    }
    // verify the required parameter 'subscriptionPlanId' is set
    if (subscriptionPlanId == null) {
      throw new ApiException(400, "Missing the required parameter 'subscriptionPlanId' when calling deleteSubscriptionPlan");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/products/{product_id}/subscriptions/{subscription_plan_id}"
        .replace("{product_id}", ApiClient.urlEncode(productId.toString()))
        .replace("{subscription_plan_id}", ApiClient.urlEncode(subscriptionPlanId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Subscription Plan
   * Retrieves a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @return SubscriptionPlan
   * @throws ApiException if fails to make API call
   */
  public SubscriptionPlan fetchSubscriptionPlan(String productId, String subscriptionPlanId) throws ApiException {
    ApiResponse<SubscriptionPlan> localVarResponse = fetchSubscriptionPlanWithHttpInfo(productId, subscriptionPlanId);
    return localVarResponse.getData();
  }

  /**
   * Get Subscription Plan
   * Retrieves a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @return ApiResponse&lt;SubscriptionPlan&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubscriptionPlan> fetchSubscriptionPlanWithHttpInfo(String productId, String subscriptionPlanId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = fetchSubscriptionPlanRequestBuilder(productId, subscriptionPlanId);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("fetchSubscriptionPlan", localVarResponse);
        }
        return new ApiResponse<SubscriptionPlan>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubscriptionPlan>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder fetchSubscriptionPlanRequestBuilder(String productId, String subscriptionPlanId) throws ApiException {
    // verify the required parameter 'productId' is set
    if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling fetchSubscriptionPlan");
    }
    // verify the required parameter 'subscriptionPlanId' is set
    if (subscriptionPlanId == null) {
      throw new ApiException(400, "Missing the required parameter 'subscriptionPlanId' when calling fetchSubscriptionPlan");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/products/{product_id}/subscriptions/{subscription_plan_id}"
        .replace("{product_id}", ApiClient.urlEncode(productId.toString()))
        .replace("{subscription_plan_id}", ApiClient.urlEncode(subscriptionPlanId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Subscription Plans
   * Retrieves a list of Subscription Plans
   * @param productId product_id (required)
   * @param filter Filter to apply, allowed fields are: - (Boolean) &#x60;active&#x60;: true or false - (BillingCycle) &#x60;cycle_type&#x60;: DAILY, WEEKLY, MONTHLY, YEARLY You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples: - &#x60;filter&#x3D;active%3D%3Dtrue&#x60; - &#x60;filter&#x3D;cycle_type%3D%3DDAILY&#x60; - &#x60;filter&#x3D;active%3D%3Dfalse%3Bcycle_type%3D%3DWEEKLY&#x60;  (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields: - &#x60;id&#x60; - &#x60;product_id&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60;  (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ListSubscriptionPlansResponse
   * @throws ApiException if fails to make API call
   */
  public ListSubscriptionPlansResponse listSubscriptionPlans(String productId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListSubscriptionPlansResponse> localVarResponse = listSubscriptionPlansWithHttpInfo(productId, filter, orderBy, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * List Subscription Plans
   * Retrieves a list of Subscription Plans
   * @param productId product_id (required)
   * @param filter Filter to apply, allowed fields are: - (Boolean) &#x60;active&#x60;: true or false - (BillingCycle) &#x60;cycle_type&#x60;: DAILY, WEEKLY, MONTHLY, YEARLY You will need to apply the &#x60;&#x3D;&#x3D;&#x60; operator to check the equality of one of the filters with your searched word, in the encoded form &#x60;%3D%3D&#x60;. For the filters listed above, here are some examples: - &#x60;filter&#x3D;active%3D%3Dtrue&#x60; - &#x60;filter&#x3D;cycle_type%3D%3DDAILY&#x60; - &#x60;filter&#x3D;active%3D%3Dfalse%3Bcycle_type%3D%3DWEEKLY&#x60;  (optional)
   * @param orderBy Attribute and direction to order items. One of the following fields: - &#x60;id&#x60; - &#x60;product_id&#x60;  One of the following directions: - &#x60;asc&#x60; - &#x60;desc&#x60;  (optional)
   * @param pageSize Total number of items to return per page (optional)
   * @param pageToken Page token (optional)
   * @return ApiResponse&lt;ListSubscriptionPlansResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListSubscriptionPlansResponse> listSubscriptionPlansWithHttpInfo(String productId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSubscriptionPlansRequestBuilder(productId, filter, orderBy, pageSize, pageToken);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSubscriptionPlans", localVarResponse);
        }
        return new ApiResponse<ListSubscriptionPlansResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ListSubscriptionPlansResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSubscriptionPlansRequestBuilder(String productId, String filter, String orderBy, Integer pageSize, String pageToken) throws ApiException {
    // verify the required parameter 'productId' is set
    if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling listSubscriptionPlans");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/products/{product_id}/subscriptions"
        .replace("{product_id}", ApiClient.urlEncode(productId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "order_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("order_by", orderBy));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "page_token";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_token", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Subscription Plan
   * Updates a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @param updateSubscriptionPlanRequest updateSubscriptionPlanRequest (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return SubscriptionPlan
   * @throws ApiException if fails to make API call
   */
  public SubscriptionPlan updateSubscriptionPlan(String productId, String subscriptionPlanId, UpdateSubscriptionPlanRequest updateSubscriptionPlanRequest, List<String> updateMask) throws ApiException {
    ApiResponse<SubscriptionPlan> localVarResponse = updateSubscriptionPlanWithHttpInfo(productId, subscriptionPlanId, updateSubscriptionPlanRequest, updateMask);
    return localVarResponse.getData();
  }

  /**
   * Update Subscription Plan
   * Updates a Subscription Plan
   * @param productId product_id (required)
   * @param subscriptionPlanId subscription_plan_id (required)
   * @param updateSubscriptionPlanRequest updateSubscriptionPlanRequest (required)
   * @param updateMask An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped. (optional)
   * @return ApiResponse&lt;SubscriptionPlan&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SubscriptionPlan> updateSubscriptionPlanWithHttpInfo(String productId, String subscriptionPlanId, UpdateSubscriptionPlanRequest updateSubscriptionPlanRequest, List<String> updateMask) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateSubscriptionPlanRequestBuilder(productId, subscriptionPlanId, updateSubscriptionPlanRequest, updateMask);

    CheckedSupplier<HttpResponse<InputStream>> responseSupplier = () ->
      memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());

    try {
      HttpResponse<InputStream> localVarResponse =
          Retry.decorateCheckedSupplier(ApiClient.getRetry(), responseSupplier)
              .get();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateSubscriptionPlan", localVarResponse);
        }
        return new ApiResponse<SubscriptionPlan>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SubscriptionPlan>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    } catch (Throwable e) {
      if (e instanceof ApiException) {
        throw (ApiException) e;
      }
      // Not collapsing exceptions so we can see this in the stack trace.
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateSubscriptionPlanRequestBuilder(String productId, String subscriptionPlanId, UpdateSubscriptionPlanRequest updateSubscriptionPlanRequest, List<String> updateMask) throws ApiException {
    // verify the required parameter 'productId' is set
    if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling updateSubscriptionPlan");
    }
    // verify the required parameter 'subscriptionPlanId' is set
    if (subscriptionPlanId == null) {
      throw new ApiException(400, "Missing the required parameter 'subscriptionPlanId' when calling updateSubscriptionPlan");
    }
    // verify the required parameter 'updateSubscriptionPlanRequest' is set
    if (updateSubscriptionPlanRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updateSubscriptionPlanRequest' when calling updateSubscriptionPlan");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/products/{product_id}/subscriptions/{subscription_plan_id}"
        .replace("{product_id}", ApiClient.urlEncode(productId.toString()))
        .replace("{subscription_plan_id}", ApiClient.urlEncode(subscriptionPlanId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "update_mask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "update_mask", updateMask));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");
    localVarRequestBuilder.header("Authorization", "Bearer " + this.accessTokenSupplier.get());

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateSubscriptionPlanRequest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }


}
